http
{
    server 
    {
        listen [::] 8080;
        server_name domain1.com
    }
    server 
    {
        listen [::] 8080;
        server_name domain2.com
        
    }
    server 
    {
        listen [::] 8080;  
        server_name domain3.com
        
    }
    server
    {
        listen 127.0.0.1:8081;
        server_name domain1.com

        root /var/www

        location /
        {
            autoindex off #list directory

            root /www

            index index.html # welcome page
    
            allowed_method GET DELETE POST
            
            max_body_size 10000 # [MB]
        }

        location /hallo
        {
            root /xxx
        }

        location /sub
        {
            index sub.html
        }
    }
}